<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>SnaskTV</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/home/Documents/openFrameworks/apps/SnaskTV/SnaskTV/bin/SnaskTV.app/Contents/MacOS/SnaskTV</string>
	</array>
</dict>
</plist>
